/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --blue: #556cd6;
  --green: #06a551 !important;
  --bggray: #f9f9f9;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
  --normal: menlo, monaco, consolas, Courier New, monospace, Helvetica Neue,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --cursive: "Pacifico", cursive;
  --cursive-new: "Sacramento", cursive;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  background-color: var(--bggray);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: inherit;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

#intro .name {
  font-family: var(--normal);
  font-size: 1.2rem;
  font-weight: normal;
}

.name span {
  font-family: var(--cursive-new);
  font-size: 5.5rem;
  display: block;
}

#intro h2 {
  font-family: var(--normal);
  font-size: 2.5rem;
  font-weight: normal;
}

#intro p {
  margin: 0;
  font-family: var(--normal);
  font-size: 1.5rem;
  padding-bottom: calc(1.5rem * 0.5);
}

#intro h2 span {
  color: var(--blue);
}

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  color: var(--white);
}

#contact-color {
  background-color: var(--plum);
}

.section-dkblue {
  background-color: var(--dkblue);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(117, 43, 204, 1) 0%,
    rgba(148, 233, 217, 1) 100%
  );
  height: 2px;
}

#contact p:last-child {
  margin-top: 3rem;
}

.nav-fixed {
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(12px);
  border-bottom: solid .5px var(--bggray);
}

nav ul {
  list-style-type: none;
  padding: 1.25rem;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: var(--normal);
  font-weight: bold;
}

#cv {
  background-color: white;
  color: var(--blue);
  border: 0.1rem solid var(--blue);
  font-family: var(--normal);
  padding: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 20px;
  border-radius: 50px;
  text-decoration: none;
}

#get-in-touch {
  background-color: var(--blue);
  color: white;
  border: 0;
  font-family: var(--normal);
  padding: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 20px;
  border-radius: 50px;
  text-decoration: none;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  color: var(--blue);
}
nav [class*="fa-"] {
  font-size: 150%;
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--blue);
}

nav a {
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--blue);
}

.button {
  background-color: var(--green);
  color: white;
  padding: 0.7rem;
  border-radius: 0.7rem;
  font-weight: lighter;
  text-decoration: none;
}

.button:hover {
  color: white;
  box-shadow: var(--green) 0px 0px 0.5rem;
}

#projects {
  padding: 7rem 1rem;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--aqua);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  font-weight: normal;
  margin: 0;
}

#projects p {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (min-width: 800px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

@media (min-width: 800px) {
  #projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  #projects .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }

  #projects .reverse ul {
    justify-content: flex-start;
  }

  #projects ul {
    justify-content: flex-end;
  }
}

footer {
  text-align: center;
  padding: 4rem;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}
